.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  vertical-align: middle;
  position: absolute center;
}


.App-header {
  background-color: #282c34;
  min-height: 10vmin;
  max-height: 10vmin;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  vertical-align: middle;
  align-items: center;
}

.App-datetime {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.App-body {
  background-color: white;
  min-height: 85vmin;
  height: calc(100vh - 15vmin);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.App-footer{
  background-color: #6f7174;
  min-height: 5vmin;
  max-height: 5vmin;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  color: white;
}

.App-link {
  color: white;
  text-decoration: none;
}

.App-icons {
  flex: 1;
  height: 20px;
  vertical-align: middle;
  padding: 1vmin;
  position: absolute center;
  left:50%;
  top:50%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
