.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.App-logo {
  height: 8vmin;
  padding: 1vmin;
  pointer-events: none;
  vertical-align: middle;
  position: absolute center;
}


.App-header {
  background-color: #282c34;
  min-height: 10vmin;
  max-height: 10vmin;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.App-title {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  vertical-align: middle;
  align-items: center;
}

.App-datetimelocbox {
  font-size: calc(2vmin *.8 - 1px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.App-datetimeloctypes {
  font-size: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.App-datetimeloc {
  font-size: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.App-body {
  background-color: lightgrey;
  min-height: 85vmin;
  height: calc(100vh - 15vmin);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-skychart {
  background-color: black;
}

.App-footer{
  background-color: #525c6b;
  min-height: 5vmin;
  max-height: 5vmin;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(.5 * 5vmin);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.App-link {
  color: white;
  height: 5vmin;
  width: 20vmin;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-icons {
  height: calc(.5 * 5vmin);
  vertical-align: middle;
  padding-right: 1vmin;
  position: absolute center;
  left:50%;
  top:50%;
}